FACEGUARD_DEVICE_TOKEN=ganti-dengan-token-panjang-rawak
POSE_MODEL=yolo26n-pose.pt
INFERENCE_FPS=5
FALL_CONFIRM_SECONDS=1.5
FALL_TRANSITION_SECONDS=8
FALL_COOLDOWN_SECONDS=30
ALLOWED_ORIGINS=http://127.0.0.1:4173,http://localhost:4173,https://localhost,capacitor://localhost,https://dazzling-valkyrie-40ada0.netlify.app

SUPABASE_URL=https://nscqzfkuanfgxzfwukty.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_GFljHorRTltHpWAEfz_PMg_oNa0YmF5
SUPABASE_SERVICE_ROLE_KEY=service_role_key_server_sahaja
